.container {
  padding: 2%;
  text-align: center;
  height: 100%;
  opacity: 0.8;

}
.sub-container {
  background: white;
  border-radius: 2%;
  padding: 10px 0px;
  opacity: 0.9;
}
.text {
  color: black;
  font-size: 24px;
  font-weight: bold;
}
.image {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  animation-duration: 3.5s;
  animation-iteration-count: 5;
}
